/*
 * Description:
 * The HTML <wbr> element represents a word break opportunityï¿½a position within text where the browser may optionally break a line,
 * though its line-breaking rules would not otherwise create a break at that location.
 */
 
wbr {
    
}